/**
*===================================================
* styles.css-- Global styles for the MyRWD Website
*===================================================
*
*Created November 12, 2014
*
*Authored by Brittany Malen
*
*/

/*----- Basic Styling -----*/

body {
  background-color:lightblue;
}

#page-wrapper {
  max-width:960px;
  margin: 0 auto;
  background-color:white;
}

#content {
  padding: 0 1em;
  margin-bottom:10px;
  background-color:#f7f2da;
}

nav{
  padding: 0;
  margin: 0;
  background-color: gray;
}

nav ul{
  padding:3px 10px;
  list-style-type:none;
}

footer {
  clear:both declaration;
}

/*-----Ad Styling-----*/
.wide-skyscaper-ad {
  width:160px;
  height:600px;
  background-color:silver;
}

/*----One-Column Mobile Layout----*/
#fluid-columns, nav, #content, #sidebar {
  width:100%;
}

@media all and (min-width: 525px) {
/*----Two-Column Fluid Layout-----*/
#page-wrapper {
  max-width:100%;
}

nav {
  float:left;
  width:21.875%;
  -moz-box-sizing:border-box;
  box-sizing:border-box; 
}

#content{
  float:left;
  width:78.125%;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#sidebar {
  float:left;
  width:160px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

@media all and (min-wdith:960px) {
/*----Three-Column Fixed Layout----*/
  #page-wrapper {
  width:960px;
}
#fluid-columns {
  width:800px;
}
}

