/**
*===================================================
* styles.css-- Global styles for the MyRWD Website
*===================================================
*
*Created November 12, 2014
*
*Authored by Brittany Malen
*
*/

/*----- Basic Styling -----*/
footer {
  clear:both declaration;
}

body {background-color:lightblue;}

#page-wrapper {
  background-color:white;
  max-width:960px;
}

#content {
  background-color:#f7f2da;
  padding-top:0em;
  padding-right:1em;
  padding-bottom:0em;
  padding-left:1em;
  margin-bottom:10px;
}

nav{
  background-color:gray;
  padding-top:0em;
  padding-right:0em;
  padding-bottom:0em;
  padding-left:0em;
  margin:0px;
}

nav ul{
  padding:3px 10px;
  list-style-type:none;
}


/*-----Ad Styling-----*/
.wide-skyscaper-ad {
  width:160px;
  height:600px;
  background-color:silver;
}


/*----Three-Column Fixed Layout-----*/

#page-wrapper {
  max-width:960px;
}

nav{
  float:left;
  width:175px;
  box-sizing:border-box; 
}

#content{
  float:left;
  width:625px;
  box-sizing:border-box;
}

#sidebar{
  float:left;
  width:160px;
  box-sizing:border-box;
}


